
.projects{
    display: inline-block;
    justify-content: space-between;
    gap: 80px;
    text-align: center;
    
}
.P1{
    padding-top: 80px;
    }
.P2{
    padding-top: 80px;
    }
.P3{
    padding-top: 80px;
    }

@media (max-width: 1200px) {
    .projects {
        align-items: center;
    }   
    .P3 {
        padding-right: 0;
    }
}


.S-E{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: darkolivegreen;
    border-radius: 8px;
    gap: 20px;   
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    .S-E {
        flex-direction: 0;
        align-items: center;
    }
}

.FP{
    padding: 30px;
}